<div class="user-details">
  <h1> My Personal Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="stocks" src="{{ "/assets/img/stocks.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> stock-trading-platform </h3>
    <ul>
      <li> ReactJS Java Springboot Docker SQL </li>
    </ul>
    <p> This is a full stack application built to manage trading stocks.</p>
    <a class="project-link" href="https://github.com/JohnPHK/stock-trading-platform">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> X CRD App </h3>
    <ul>
      <li> Java, Spring, Docker </li>
    </ul>
    <p> Spring API test test test test </p>
    <a class="project-link" href="https://github.com/JohnPHK/x-crd-app">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="skate" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Bev For Sports </h3>
    <ul>
      <li> JSP, J2EE Servlets, MySQL</li>
    </ul>
    <p> J2EE Application </p>
    <a class="project-link" href="https://github.com/JohnPHK/bev-for-sports">Check it out</a>
  </div>
</div>

